In [ ]:
# Import the required modules in this cell
import pandas as pd
import datetime as dt
import reverse_geocoder as rg
import pprint
import re
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Dataset** : **Assignment_Crime_Data_from_2010_to_Present.csv** (present in the same drive folder)
Download the above csv from the drive and read it into a Pandas Dataframe.

In [ ]:
# We will reference this dataframe as "Main Dataframe"

df = pd.read_csv("Assignment_Crime_Data_from_2010_to_Present.csv")
df.head()

   DR Number Date Reported  ... Cross Street             Location
0  100100562    01/28/2010  ...          NaN   (34.0502, -118.254)
1  100100575    02/01/2010  ...          NaN  (34.0437, -118.2652)
2  100100610    02/11/2010  ...          NaN   (34.048, -118.2577)
3  100100616    02/11/2010  ...        GRAND  (34.0389, -118.2643)
4  100100638    02/20/2010  ...          NaN  (34.0439, -118.2514)

[5 rows x 26 columns]

### Question 1 : Use any 5 pandas attributes to understand the DataFrame structure and metadata.

In [ ]:
# Write answer here

list(df.head().index)
print("Geenral Info: ",df.info)
print("Column Values: ",df.columns)
print("Index Range: ",df.index)
print("Datatypes in DF: ",df.dtypes)
print("Dimensions of DataFrame: ",df.shape)
print("Size of DataFrame",df.size)
rows=len(df.axes[0])
cols=len(df.axes[1])
print("Number of rows:",rows," and Number of Columns:",cols)

Geenral Info:  <bound method DataFrame.info of         DR Number Date Reported  ... Cross Street             Location
0       100100562    01/28/2010  ...          NaN   (34.0502, -118.254)
1       100100575    02/01/2010  ...          NaN  (34.0437, -118.2652)
2       100100610    02/11/2010  ...          NaN   (34.048, -118.2577)
3       100100616    02/11/2010  ...        GRAND  (34.0389, -118.2643)
4       100100638    02/20/2010  ...          NaN  (34.0439, -118.2514)
...           ...           ...  ...          ...                   ...
140527  150901457    10/16/2015  ...          NaN  (34.1839, -118.4605)
140528  150901458    10/17/2015  ...          NaN  (34.1766, -118.4589)
140529  150901459    10/16/2015  ...          NaN  (34.1887, -118.4509)
140530  150901460    10/16/2015  ...          NaN    (34.1877, -118.44)
140531  150901462    10/17/2015  ...          NaN                   NaN

[140532 rows x 26 columns]>
Column Values:  Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex',
       'Victim Descent', 'Premise Code', 'Premise Description',
       'Weapon Used Code', 'Weapon Description', 'Status Code',
       'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3',
       'Crime Code 4', 'Address', 'Cross Street', 'Location '],
      dtype='object')
Index Range:  RangeIndex(start=0, stop=140532, step=1)
Datatypes in DF:  DR Number                   int64
Date Reported              object
Date Occurred              object
Time Occurred               int64
Area ID                     int64
Area Name                  object
Reporting District          int64
Crime Code                  int64
Crime Code Description     object
MO Codes                   object
Victim Age                  int64
Victim Sex                 object
Victim Descent             object
Premise Code              float64
Premise Description        object
Weapon Used Code          float64
Weapon Description         object
Status Code                object
Status Description         object
Crime Code 1              float64
Crime Code 2              float64
Crime Code 3              float64
Crime Code 4              float64
Address                    object
Cross Street               object
Location                   object
dtype: object
Dimensions of DataFrame:  (140532, 26)
Size of DataFrame 3653832
Number of rows: 140532  and Number of Columns: 26

[link text](https://)### Question 2: Create another blank DataFrame and insert the data from this sheet -->
**Python Assignment.xlsx**(Present in the same drive folder) And append this new dataframe to the main dataframe . (Hint Check the structure after appending the DataFrame)

In [ ]:
# Write answer here
print("Shape of Main DataFrame before appending: ",len(df.axes[0]))
df_side=pd.read_excel("Python Assignment.xlsx")
print("Shape of Side DataFrame: ",len(df_side.axes[0]))

# print(df.dtypes)
# print(df_side.dtypes)

df_main=df.append(df_side,ignore_index=True,verify_integrity=True)

# print(df_main.dtypes)

# Datetime formats were inconsistent
dt_format='%d/%m/%Y'
#convert to datetime datatype then make format consistent
df_main['Date Occurred'] = pd.to_datetime(df_main['Date Occurred']).dt.strftime(dt_format)
df_main['Date Reported'] = pd.to_datetime(df_main['Date Reported']).dt.strftime(dt_format)



print("Shape of Main DataFrame after appending: ",len(df_main.axes[0]))

Shape of Main DataFrame before appending:  140532
Shape of Side DataFrame:  5
DR Number                   int64
Date Reported              object
Date Occurred              object
Time Occurred               int64
Area ID                     int64
Area Name                  object
Reporting District          int64
Crime Code                  int64
Crime Code Description     object
MO Codes                   object
Victim Age                  int64
Victim Sex                 object
Victim Descent             object
Premise Code              float64
Premise Description        object
Weapon Used Code          float64
Weapon Description         object
Status Code                object
Status Description         object
Crime Code 1              float64
Crime Code 2              float64
Crime Code 3              float64
Crime Code 4              float64
Address                    object
Cross Street               object
Location                   object
Street                     object
Location                   object
dtype: object
Shape of Main DataFrame after appending:  140537

### Question 3.a : Find the area where maximum crimes were committed?

> Indented block

In [ ]:
# Write answer here
area=df_main.groupby("Area Name").count().Address
# Grouped by Area name
# Counted the number of occurances of each( can find mean/median/etc).
# only display count of one column(arbitrary)
area=area.idxmax()
print("Area with Most crime Occurances: ",area)
# return first occurance of maximum idxmax()

Area with Most crime Occurances:  Southwest

### Question 3.b : Find the average age of the victims?

1.   List item
2.   List item

In [ ]:
# Write answer here
tdf=df_main[(df_main['Area Name']==area)]
age=tdf['Victim Age'].mean()
print("the average age of the victims: ",age)

the average age of the victims:  29.751563223714683

### Question 4 : Which type of crime was the 5th most reported crime where the victim age is greater then 40 years?

In [ ]:
# Write answer here
temp=df_main[(df_main['Victim Age'] >40)]
# Filter df_main by (Victim age>40)

series=temp.groupby('Crime Code Description').count().Address
# Grouped by Crime Code Description (as its value is important for end result)
# Counted the number of occurances of each( can find mean/median/etc).
# only display count of one column(arbitrary)

series=series.nlargest(5)
# Find top 5 values based on count nlargest(5)

print("5th most reported crime where the victim age is greater then 40 years:\n",series.tail(1).index[0])
# last value in top 5 (5th largest)

5th most reported crime where the victim age is greater then 40 years:
 BURGLARY

### Question 5 : Find the month and the year in which most of the crimes were reported?

In [ ]:
# Write answer here

date=df_main.groupby("Date Reported").count().Address
# Grouped by Date
# Counted the number of occurances of each( can find mean/median/etc).
# only display count of one column(arbitrary)

date=date.idxmax()
#get max value from series

#format saved while appending
date= dt.datetime.strptime(date, dt_format)

print("Most crime Occurances:\nMonth: ",date.month,"Year: ",date.year)

Most crime Occurances:
Month:  6 Year:  2015

### Question 6 : Which weapon was used the second most no of times to commit the crime in each area?

In [ ]:
# Write answer here
temp=df_main.sort_values('Area Name')

area=set(temp['Area Name'].to_list())
area=list(area)

for a in area:
  # for every area
  tdf=temp[(temp['Area Name']==a)]

  #group by weapons and count rows for each
  weapon=tdf.groupby("Weapon Description").count().Address

  # find top 2
  weapon=weapon.nlargest(2)

  #print second
  print("Area:",a,"  Weapon :",weapon.tail(1).index[0])

Area: Newton   Weapon : VERBAL THREAT
Area: N Hollywood   Weapon : VERBAL THREAT
Area: Rampart   Weapon : VERBAL THREAT
Area: West LA   Weapon : VERBAL THREAT
Area: Hollywood   Weapon : VERBAL THREAT
Area: Mission   Weapon : VERBAL THREAT
Area: Devonshire   Weapon : VERBAL THREAT
Area: Van Nuys   Weapon : UNKNOWN WEAPON/OTHER WEAPON
Area: Foothill   Weapon : VERBAL THREAT
Area: Wilshire   Weapon : UNKNOWN WEAPON/OTHER WEAPON
Area: Northeast   Weapon : VERBAL THREAT
Area: Southeast   Weapon : UNKNOWN WEAPON/OTHER WEAPON
Area: Hollenbeck   Weapon : VERBAL THREAT
Area: Olympic   Weapon : HAND GUN
Area: Central   Weapon : UNKNOWN WEAPON/OTHER WEAPON
Area: Harbor   Weapon : VERBAL THREAT
Area: West Valley   Weapon : VERBAL THREAT
Area: Topanga   Weapon : UNKNOWN WEAPON/OTHER WEAPON
Area: Pacific   Weapon : UNKNOWN WEAPON/OTHER WEAPON
Area: 77th Street   Weapon : VERBAL THREAT
Area: Southwest   Weapon : VERBAL THREAT

### Question 7 :  Find the full address where maximum crimes were committed (Hint use the location coordinates)?

In [ ]:
# Write answer here

area=df_main.groupby("Location").count().Address
area=area.idxmax()

# extracting floating point numbers from string
area = re.findall(r"[-+]?\d*\.\d+|\d+", area)

#using reverse-geocoder library
result = rg.search(area)
pprint.pprint(result)

[OrderedDict([('lat', '33.99418'),
              ('lon', '-118.37535'),
              ('name', 'Ladera Heights'),
              ('admin1', 'California'),
              ('admin2', 'Los Angeles County'),
              ('cc', 'US')])]

### Question 8 : Find that hour of the day in which most of the crimes were committed

In [ ]:
# Write answer here
time=df_main.groupby("Time Occurred").count().Address
time=time.idxmax()
print("hour of the day in which most of the crimes were committed: ",time)

hour of the day in which most of the crimes were committed:  1200

### Question 9 : For each premise find out the gender that was more victimized?

In [ ]:
# Write answer here
gender=df_main.groupby("Victim Sex").count().Address
gender=gender.idxmax()
print("Gender that was more victimized: ",gender)

Gender that was more victimized:  M

### Question 10 : Within each area find for which Ethnic Groups were the most number of crimes committed the year 2015? Hint(Use the Victim Descent [tab in this sheet](https://docs.google.com/spreadsheets/d/1RNx-Pt-rN5BNS31kkN2bcRg6HAcjhxdvw7rKqu2aoIQ/edit#gid=444749830) )

In [ ]:
# Write answer here
d1 = dt.datetime(2014, 12, 21)
d2 = dt.datetime(2016, 1, 1)
df_main.dtypes

# Filtering for dates greater than 12/12/2014
#converting to datetime type then comparing
tdf=df_main[(pd.to_datetime(df_main['Date Occurred'])>d1)]
#Filtering further for dates less than 1/1/2016
tdf=tdf[(pd.to_datetime(tdf['Date Occurred'])<d2 )]

area=set(tdf['Area Name'].to_list())
area=list(area)

for a in area:
  # for every area
  tdf=temp[(temp['Area Name']==a)]

  #group by Victim Descent
  ethnicity=tdf.groupby("Victim Descent").count().Address
  # find Descent with max crimes commited against
  ethnicity=ethnicity.idxmax()

  print("Area:",a,"  Victim Descent :",ethnicity)

Area: Northeast   Victim Descent : W
Area: Newton   Victim Descent : H
Area: Harbor   Victim Descent : H
Area: Southeast   Victim Descent : B
Area: Rampart   Victim Descent : H
Area: West LA   Victim Descent : W
Area: Hollywood   Victim Descent : W
Area: Hollenbeck   Victim Descent : H
Area: West Valley   Victim Descent : W
Area: Pacific   Victim Descent : W
Area: Van Nuys   Victim Descent : W
Area: N Hollywood   Victim Descent : W
Area: 77th Street   Victim Descent : B
Area: Olympic   Victim Descent : H
Area: Central   Victim Descent : H
Area: Wilshire   Victim Descent : W
Area: Southwest   Victim Descent : B